<!doctype html>
<html>
<head>
	<title> Anagram?</title>
</head>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<body>
	<h1>A Question</h1>
	<em>
		Words are tumbling<br>
		Round and round, forwards, backwards<br>
		Are letters... the same?
	</em>
	<form action="/process" method="post">
		<p>
			<input type="text" name="value1" maxlength="30" 
			placeholder="First word" 
			pattern="[a-zA-Z]+"
			title="Words...only contain letters"
			required />
		</p>
		<p>
			<input type="text" name="value2" maxlength="30" 
			placeholder="Second word" 
			pattern="[a-zA-Z]+"
			title="Words...only contain letters"
			required/>
		</p>
		<p>
			<input type="submit" value="Submit"> 
		</p>
		{{result}}
	</form>

</body>
</html>
